{% extends 'base.html' %}
{% load static %}
{% block head %}
<script src="{% static 'js/index.js' %}" type="module" defer></script>
<script src="{% static 'js/authStep2.js' %}" defer></script>
<script src="{% static 'js/authStep4.js' %}" defer></script>
{% endblock head %}
{% block content %}
<body class="relative flex flex-col min-h-screen bg-cover" style="background-image: url('../../static/assets/home.png');">
    <div class="absolute min-h-screen left-10 flex items-center">
        {% include 'multi-form/progress-bar.html' %}
    </div>
    <header class="text-center py-6">
        <h1 class="text-2xl font-bold"><a href="{{'/'}}"><span class="text-primary">I</span>AGENDER</a></h1>
    </header>
    <main class="flex-1 flex justify-center">
        
        <div class="hidden form-register-step1 w-2/5">
            {% include 'multi-form/form-register-step1.html' %}
        </div>
        <div class="hidden form-register-step2 w-2/5">
            {% include 'multi-form/form-register-step2.html' %}
        </div>
        <div class="hidden form-register-step3 w-2/5">
            {% include 'multi-form/form-register-step3.html' %}
        </div>
        <div class="hidden form-register-step4 w-2/5">
            {% include 'multi-form/form-register-step4.html' %}
        </div>
        <div class="hidden form-register-step5 w-2/5">
            {% include 'multi-form/form-register-step5.html' %}
        </div>
            
        
    </main>
</body>
{% endblock content %}