{% extends 'base.html' %}
{% load static %}
{% block head %}

<script src="{% static 'js/calendar.js' %}" defer type="module"></script>

{% endblock head %}

{% block content %}
<div class="flex w-full h-screen ">
    {% include 'aside-dashboard.html' %}
    <main class="flex bg-zinc-200 flex-1">
        <div class="flex flex-col gap-4 w-2/3 p-8">
            <div class="p-4 flex gap-2 items-center rounded-lg">
                <img class="rounded-full w-20 h-20" src="{% static 'assets/foto_github.png' %}" alt="">
                <div>
                    <p class="text-xl font-semibold">Igor Oliveira</p>
                    <p class="text-zinc-700">https://iagender.com/igoroliveira</p>
                </div>
            </div>
            <div class="flex-1 flex flex-col gap-4">
                <div class="flex-1  rounded-lg bg-complement"></div>
                <div class="flex-1 rounded-lg bg-complement"></div>
            </div>
        </div>
        <div class="w-1/3 p-6">
            <div class="w-full flex flex-col gap-2 bg-complement  p-4 rounded-lg border-zinc-950/5 calendar">
                <div class="flex justify-between gap-4 mb-2">
                    <img class="cursor-pointer rounded-full p-1 hover:bg-primary/30 hover:stroke-primary  prev-month-button" src="{% static 'assets/svg/arrow-left.svg' %}" alt="">
                    <p class="font-semibold month"></p>
                    <img class="cursor-pointer rounded-full p-1 hover:bg-primary/20 hover:stroke-primary next-month-button rotate-180" src="{% static 'assets/svg/arrow-left.svg' %}" alt="">
                </div>
                <div class="grid grid-flow-col weekdays list-none">
                    <li class="flex justify-center items-centeR">D</li>
                    <li class="flex justify-center items-center text-sm">S</li>
                    <li class="flex justify-center items-center">T</li>
                    <li class="flex justify-center items-center">Q</li>
                    <li class="flex justify-center items-center">Q</li>
                    <li class="flex justify-center items-center">S</li>
                    <li class="flex justify-center items-centeR">S</li>
                    
                </div>
                <div class="grid gap-2 grid-rows-6 grid-cols-7 list-none days ">
                    
                  
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}