{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock head %}

{% block content %}
<div class="flex w-full h-screen ">
    <aside class="w-1/5 h-screen px-4 py-8">
        <h1 class="w-full text-center text-2xl font-bold"><a href="{{'/'}}"><span class="text-primary">I</span>AGENDER</a></h1>

        <nav class="w-full flex flex-col gap-4 mt-8">
            <button>
                <div></div>
                <p class="font-semibold">Home</p>
            </button>

            <button>
                <div></div>
                <p class="font-semibold">Calendário</p>
            </button>

            <button>
                <div></div>
                <p class="font-semibold">Contatos</p>
            </button>

            <button>
                <div></div>
                <p class="font-semibold">Contatos</p>
            </button>
        </nav>
    </aside>
    <main class="bg-zinc-300 flex-1">
        
    </main>
</div>
{% endblock content %}