<header class="flex justify-between items-center px-12 py-6">
    <h1 class="text-2xl font-bold"><a href="{{'/'}}"><span class="text-primary">I</span>AGENDER</a></h1>
    <nav class="flex gap-6">
        <li class="list-none border-b-2 border-b-primary">
            <a href="#">Home</a>
        </li>
        <li class="list-none">
            <a href="#">Beneficíos</a>
        </li>
    </nav>
    <nav class="flex gap-4">

        <a class="w-[110px] border-2 border-primary py-1 rounded-md text-primary font-semibold text-center" href="{{'register/'}}">Registrar</a>
        <a href="{{'login/'}}" class="button-primary">Entrar</a>
    </nav>
</header>