{% extends 'user-base.html' %}
{% load static %}
{% block head %}
<script src="{% static 'js/calendar.js' %}" defer type="module"></script>

{% endblock head %}
{% block page %}

<div class="w-full h-full p-8 grid grid-cols-2">
    <div class="flex flex-col items-center gap-8">
        <div class=" w-full flex gap-2 items-center">
            <img class="w-20 h-20 rounded-full" src="{% static 'assets/foto_github.png' %}" alt="">
            <p class="font-semibold text-lg">Igor Oliveira</p>
    
        </div>
        <div class="w-[70%] aspect-1 flex flex-col calendar">
            <div class="w-full flex bg-zinc-100 rounded-lg p-2 justify-between items-center gap-4 mb-2">
                <img class="cursor-pointer rounded-lg bg-primary  p-1 hover:bg-primary/30 hover:stroke-primary prev-month-button"
                    src="{% static 'assets/svg/chevron-left.svg' %}" alt="">
                <p class="font-medium month"></p>
                <img class="cursor-pointer rounded-lg bg-primary p-1 hover:bg-primary/20 hover:stroke-primary next-month-button "
                    src="{% static 'assets/svg/chevron-right.svg' %}" alt="">
            </div>
            <div class="grid grid-flow-col weekdays list-none">
                <li class="flex justify-center items-center text-">D</li>
                <li class="flex justify-center items-center text-sm">S</li>
                <li class="flex justify-center items-center text-sm">T</li>
                <li class="flex justify-center items-center text-sm">Q</li>
                <li class="flex justify-center items-center text-sm">Q</li>
                <li class="flex justify-center items-center text-sm">S</li>
                <li class="flex justify-center items-centeR text-sm">S</li>
    
            </div>
            <div class="grid gap-2 grid-rows-6 grid-cols-7 list-none days ">
    
    
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 border-l p-4">
        <h3 class="font-semibold text-lg day-title">28 de novembro de 2023</h3>
        <div class="h-[400px] flex justify-center gap-4 flex-wrap time-container overflow-y-auto p-4">
            
        </div>
    </div>
</div>
{% endblock %}