{% extends 'settings.html' %}
{% load static %}
{% block head %}
<script src="{% static 'js/schedule.js' %}" type="module" defer></script>
{% endblock head %}
{% block section %}
<section class="flex flex-col gap-8 w-full min-h-full rounded-lg bg-complement p-8 ">
    {% include 'nav-settings.html' %}
    <div class="flex justify-around items-center gap-2">
        <!--<div class="flex flex-col gap-2">
            <h2 class="text-2xl font-semibold">Agenda</h2>
            <p class="text-zinc-700 text-lg">Adicione ou modifique o horário de funcionamento do seu negócio</p>
        </div>-->
        <form action="{% url 'update_schedule' %}" method="post" class="flex flex-col gap-4 w-1/2">
            {% csrf_token %}
            <div class="flex flex-col gap-4">
                <div class="flex flex-col gap-4">
                    {% for day in days %}
                    <div id="{{day.name}}" class="flex flex-col gap-6 border p-4 rounded-lg border-zinc-300 shadow-sm group fields-days {% if day.status %} day-open {% endif %}"
                        id="{{day.name}}">
                        <div class="flex justify-between items-center ">
                            <div class="flex gap-4 items-center">
                                <div class="relative inline-block w-12">
                                    <input type="checkbox" id="toggle-day-{{forloop.counter}}" class="hidden toggle-input"
                                        name="day" value="{{day.name}}" {% if day.status %} checked {% endif %}>
                                    <label for="toggle-day-{{forloop.counter}}"
                                        class="toggle-label block overflow-hidden h-6 bg-gray-300 rounded-full cursor-pointer {% if day.status %} bg-primary {% endif %}"></label>
                                    <div
                                        class="toggle-handle absolute left-0 top-0 h-6 w-6 bg-white rounded-full shadow-md transform transition-transform ease-in-out duration-300 {% if day.status %} toggle-checked {% endif %}">
                                    </div>
                                </div>
                                <p>{{day.name}}</p>
                            </div>
                            <div class="items-center gap-2 hidden group-[.day-open]:flex">
                                <div>
                                    <p class="text-sm text-zinc-500 block group-[.show-fields-hours]:hidden">Mostrar horários
                                    </p>
                                    <p class="text-sm text-zinc-500 hidden group-[.show-fields-hours]:block">Ocultar</p>
                                </div>
                                <img class="cursor-pointer arrow-details group-[.show-fields-hours]:turn-arrow"
                                    src="{% static 'assets/svg/chevron-down.svg' %}" alt="Seta para baixo">
                            </div>
                            <p class="text-sm text-zinc-500 block group-[.day-open]:hidden">Fechado</p>
        
                        </div>
                        <div class="flex-col gap-2 fields-hours hidden group-[.show-fields-hours]:flex">
                            {% if day.intervals %}
                                {% for interval in day.intervals %}
                                    <div id="{{interval.id}}" class="flex justify-between">
                
                                        <div class="w-[90%] flex items-center gap-2">
                                            <select class="w-1/2 rounded-lg" name="initial_interval_{{day.name | lower}}" id="">
                                                {% for time in times %}
                                                    <option value="{{time}}" {% if interval.initial_interval == time %} selected {% endif %}>
                                                    {{time}}</option>
                                                {% endfor %}
                                            </select>
                                            <p>Até</p>
                                            <select class="w-1/2 rounded-lg" name="close_interval_{{day.name | lower}}" id="">
                                                {% for time in times %}
                                                    <option value="{{time}}" {% if interval.close_interval == time %} selected {% endif %}>
                                                    {{time}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        {% if forloop.counter == 1 %}
                                            <img class="cursor-pointer add-fields" src="{% static 'assets/svg/plus-circle.svg' %}" alt="Ícone de adição">
                                        {% else %}
                                            <a href="{% url 'delete_interval' interval.id %}"><img class="" src="{% static 'assets/svg/trash.svg' %}" alt="Ícone de lixeira"></a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="flex justify-between">
                                    <div class="w-[90%] flex items-center gap-2">
                                
                                        <select class="w-1/2 rounded-lg" name="initial_interval_{{day.name}}" id="">
                                            {% for time in times %}
                                                <option value="{{time}}" {% if time == "09:00" %} selected {% endif %}>{{time}}</option>
                                            {% endfor %}
                                        </select>
                                        <p>Até</p>
                                        <select class="w-1/2 rounded-lg" name="close_interval_{{day.name | lower}}" id="">
                                            {% for time in times %}
                                                <option value="{{time}}" {% if time == "18:00" %} selected {% endif %}>{{time}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <img class="cursor-pointer add-fields" src="{% static 'assets/svg/plus-circle.svg' %}" alt="Ícone de adição">
                                </div>
                            {% endif %}
        
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-auto w-full flex justify-end items-center gap-6 ">
                    <button type="submit" peer class="flex justify-center button-primary confirm-button group">
                        <p class="group-[.active-spinner]:hidden">Confirmar</p>
                        <div
                            class="aspect-1 h-6 border-2 rounded-full border-white border-r-transparent animate-spin hidden group-[.active-spinner]:block">
                        </div>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}