{% extends 'base.html' %} {% load static %} {% block content %} 
<body class="flex min-h-screen">
  <div class="p-4 w-1/2">
    <div class="relative flex justify-center items-center rounded-lg bg-primary h-full p-4">
      
      <div class="absolute flex justify-center items-center left-[20px] top-[20px] p-2 rounded-lg bg-white">
        <a class="hover:rotate-45 duration-300" href="{% url 'index' %}">
          {% include 'svg/arrow-left.html' %}
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-10 items-center w-1/2 p-8">
    <h1 class="w-full text-2xl font-bold">
      <a href="{{'/'}}"><span class="text-primary">I</span>AGENDER</a>
    </h1>

    <div class="w-2/3 h-full flex flex-col gap-4">
      <div class="w-full">
        <h2 class="font-semibold text-xl">Realizar cadastro</h2>
        <p class="text-zinc-700">Entre com suas informações</p>
      </div>

      <div class="p-2 w-full flex justify-center gap-4 ">
        <a href="{% url 'login' %}" class=" text-center font-extralight p-2 w-1/2">Login</a>
        <a href="{% url 'register' %}" class="text-center text-primary font-semibold p-2 w-1/2 border-b-2 border-primary">Registre-se</a>
        
      </div>
        <a href="{% url 'auth' %}" class="button-primary mt-4 w-full py-4" type="submit">
        Continuar com email
        </a>
      </form>
      <div class="relative">
        <p class="h-[1px] w-full bg-black"></p>
        <p class="absolute bottom-[-16px] w-full text-center p-1 bg-white">
          Ou
        </p>
      </div>
      <button
        class="flex justify-center items-center gap-2 rounded-lg shadow-md px-6 py-3 border"
      >
        <img class="w-1/12" src="{% static 'assets/google.png' %}" alt="" />
        Entrar com Google
      </button>
      <p>
        Já tem conta?
        <a class="font-semibold text-primary" href="{% url 'login' %}">
          Realizar login
        </a>
      </p>
    </div>
  </div>
</body>
{% endblock content %}
