{% load static %}
<div class="flex flex-col h-full">
    <div class="flex flex-col gap-4">
        <div class="relative">
            <label class="absolute left-4 top-4" for="input-company">
                <img src="{% static 'assets/svg/company.svg' %}" alt="Ícone telefone">
            </label>
            <input class="input-with-icon input-company" type="text" placeholder="Nome da empresa (opcional)"
                id="input-company" name="company_name">
        </div>
        <div class="relative">
            <label class="absolute left-4 top-4" for="input-user">
                <img src="{% static 'assets/svg/link.svg' %}" alt="Ícone telefone">
            </label>
            <input class="input-with-icon input-user peer" type="text"
                placeholder="Insira o seu nome de usuário (iagender.com/nome)" id="input-user" name="user_url" value="igorigor">
            <img class="absolute top-4 right-4 hidden peer-[.input-error]:block"
                src="{% static 'assets/svg/alert-badge.svg' %}" alt="Ícone de alerta">
            <img class="absolute top-4 right-4 hidden peer-[.input-sucess]:block"
                src="{% static 'assets/svg/check-badge.svg' %}" alt="Ícone de sucesso">
        </div>
        <div class="relative">
            <label class="absolute left-4 top-4" for="input-phone">
                <img src="{% static 'assets/svg/phone.svg' %}" alt="Ícone telefone">
            </label>
            <input class="input-with-icon input-phone peer" type="text" placeholder="Celular" id="input-phone" name="phone" value="11996616201">
            <img class="absolute top-4 right-4 hidden peer-[.input-error]:block"
                src="{% static 'assets/svg/alert-badge.svg' %}" alt="Ícone de alerta">
            <img class="absolute top-4 right-4 hidden peer-[.input-sucess]:block"
                src="{% static 'assets/svg/check-badge.svg' %}" alt="Ícone de sucesso">
        </div>
    </div>
    <div class="mt-auto w-full flex justify-end items-center gap-6 ">
        <button type="button" class="text-zinc-600 back-button">Voltar</button>
        <button type="button" peer class="flex justify-center button-primary next-button group">
            <p class="group-[.active-spinner]:hidden">Próximo</p>
            <div
                class="aspect-1 h-6 border-2 rounded-full border-white border-r-transparent animate-spin hidden group-[.active-spinner]:block">
        </button>
    </div>
</div>