@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-primary {
    @apply w-[110px] bg-gradient-to-b from-primary to-secondary py-2 rounded-md text-white font-semibold text-center;
  }
  .input-with-icon {
    @apply rounded-lg w-full bg-zinc-50 px-12 py-4 shadow-lg caret-primary;
  }
  .active-bar {
    @apply rounded-xl bg-zinc-100 border p-3 overflow-x-hidden;
  }
  .card-category {
    @apply h-full bg-white flex justify-center items-center flex-col gap-2 rounded-lg p-2  shadow-md shadow-zinc-950/20 cursor-pointer hover:scale-105 hover:duration-300;
  }
  .active-category {
    @apply bg-primary;
  }
  .alert-category {
    @apply border border-red-700 bg-red-700/[2%];
  }
  .toggle-checked {
    @apply translate-x-full;
  }
  .turn-arrow {
    @apply rotate-180 transition-all duration-300
  }
  .day {
    @apply cursor-pointer flex justify-center items-center text-sm aspect-1 p-[1px] rounded-lg;
  }
  .prev-days, .next-days {
    @apply text-zinc-500
  }
  .current-days {
    @apply font-medium;
  }
  .operating-day {
    @apply bg-primary/20 text-primary font-semibold;
  }
  .open-day {
    @apply bg-emerald-700/20 text-emerald-700 font-semibold
  }
  .close-day {
    @apply bg-red-700/20 text-red-700 font-semibold
  }
  .time-button {
    @apply flex gap-2 w-fit px-6 py-3 border border-primary rounded-lg duration-150 cursor-pointer hover:bg-primary/20;
  }

}
.animation-progress-bar {
  animation: slide 0.5s normal;
  transition: 0.5s all ease-in-out;
}
.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.input-error {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.008);
}
.input-sucess {
  border: 1px solid rgb(21, 255, 0);
  background-color: rgba(21, 255, 0, 0.008);
}
.today {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  bottom: 0;
  left: 50%;

}




.time-container::-webkit-scrollbar, 
.service-container::-webkit-scrollbar {
    display: none;
}







